@model FoodRemains.Models.PostFoodMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostFoodMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServesPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServesPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RestaurantMaster.RestaurantName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RestaurantMaster.RestaurantName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostedFoodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
